.main {
  display: flex;
  flex-direction: column;
  margin: 10vh auto;
  max-width: 900px;
  height: 80vh;
  background-color: #fff;
}

.main h1 {
  font-family: var(--font-mono);
}

.main p {
  font-family: var(--font-mono);
}

.main span {
  font-family: var(--font-mono);
}

.main li {
  font-family: var(--font-mono);
}
